extends layout

block content
 h1= title
 form(name="soundcloud-user",action="/login", method="post")
    div.input
      span.label Your Soundcloud login  
      input(type="text", name="scLogin")
      input(type="submit", value="go")
